/*голубой текст акцент, фон активный элемент  2196f3
  черный тескт Лого 000000
  навигации, фильтры цвет текста черный, заголовки картинок 212121
  контакты цвет серый, подписи картинок 757575
  белый цвет текста основной FFFFFF 100%
  белый цвет текста контакты FFFFFF 60%
  фон подвал, фон герой - 2F303A
  фон неактивные фильтры - F5F4FA
  */

/*:root {
  --primary-text-color: #2196f3
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}*/

.logo:hover {
  color: #000000;
}
.accent {
  color: #2196f3;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.nav-link-active:hover {
  color: #2196f3;
}
